!!! 5
html(lang="en")
    head
        title i18next sample

    body
        h3 you can switch lng via ?setLng='lngTag'
        a(href='/?setLng=en-US') en-US
        | &nbsp;
        a(href='/?setLng=de-DE') de-DE

        h3 î18n used in template via express app.helper
        span= t('app.name') + ' '
        span= t('app.area')
        button= t('ns.common:add')

        h5 with value insert t('app.insert', {youAre: 'great'})
        span= t('app.insert', {youAre: 'great'})

        h5 with plural t('app.child', {count: n})
        span= t('app.child', {count: 1}) + ' - '
        span= t('app.child', {count: 3})

        h5 nesting
        span= t('app.district')
